PUBLIC_FIREBASE_API_KEY=demo-api-key
PUBLIC_FIREBASE_APP_CHECK_SITE_KEY=
PUBLIC_FIREBASE_APP_ID=demo-app-id
PUBLIC_FIREBASE_PROJECT_ID=demo-ana-luisa
PUBLIC_SITE_URL=http://localhost:4321/
PUBLIC_USE_FIREBASE_EMULATORS=true
